body {
    background-color: #2a3d45;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    background-color: #ddc9b4;
    color: #2a3d45;
    margin: 0;
    padding: 20px;
    width: 100%;
    text-align: left;
}

#myCanvas{
    margin: 30px;
}

button {
    border: none;
    padding: 20px;
    font-size: 20px;
    background-color: #ddc9b4;
    color: #2a3d45;
}

.button-bank {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.textbox {
    border: 10px solid #bcac9b;
    margin: 20px 10px;
    background-color: #ddc9b4;
    color: #2a3d45;
    width: 800px;
    text-align: left;
    font-size: 18px;
    padding: 20px 30px;
}